div class="fuield">
  <h1>詳細画面</h1>
  <p>タイトル: <%= @picture.title %></p>
  <p>内容: <%= @picture.content %></p>
  <p id="notice"><%= notice %></p>

  <p class="picture_img">Image:<br>
    <%= image_tag @picture.image.url if @picture.image && @picture.image.url %>
  </p>
  <%= link_to "一覧画面にもどる", pictures_path, class: 'btn btn-secondary' %>
</div>
